<!-- Footer -->
<div class="footer">
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Who We Are</h5>
        <p>
          Cuise is dedicated to delivering a service that is both secure and timely.
          Our self-driving cars are on the cutting edge of navigation and safety technology.
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Our Company</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Company Profile</a>
            </li>
            <li>
              <a href="#!">The Team</a>
            </li>
            <li>
              <a href="#!">Our Story</a>
            </li>
            <li>
              <a href="#!">Locations</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Learn More</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Careers</a>
            </li>
            <li>
              <a href="#!">About Us</a>
            </li>
            <li>
              <a href="#!">Investors</a>
            </li>
            <li>
              <a href="#!">News</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="http://localhost:4200/home"> Cruise.com</a>
  </div>
  <!-- Copyright -->

</footer>
</div>
<!-- Footer -->