<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CRUISE CLIENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/binding">Request a Ride</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/directives">Support</a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/users">User</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-2">
                 
                <h3>Hail our Riderless Fleet!</h3>
                    <div class="form-group">
                        <input type="text" name="pick" class="form-control" id="pick" placeholder="Your Pickup Location *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="destination" id="destination" class="form-control" placeholder="Your Destination *" value="" />
                    </div>
                    <div class="form-group">
                        <!-- <input type="button" class="btnSubmit" name="login" id="login" value="Login" />-->
                         <button class="btnSubmit" id="login">Hail Car!</button>
                    </div>
                    
               
            </div>
           
        </div>
    </div>
    </div>
    <div class="col">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6156606455493!2d-73.99223338454202!3d40.74848184331961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9da68b0c5%3A0x277f7da48757851e!2sCUNY+School+of+Professional+Studies!5e0!3m2!1sen!2sus!4v1554724600928!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

  </div>
</div>