<<<<<<< HEAD
nav{
    background-color: red;
}

a{
    color: black;
}

.navbar-toggler{
    color: purple;
}
=======
.dropdown-menu{

    color:purple;
}

.nav-link{
    color: purple;
}

#loginDrop{
    margin-right: 10px;
}

>>>>>>> 524702abc56bbcb734615cdfb2b2ad790c3330fb
