<<<<<<< HEAD
#firstname { 
    background: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Cruise_Automation_logo.svg/1200px-Cruise_Automation_logo.svg.png") no-repeat center center;
    background-size: 100%;
=======
/* #banner { 
  background: url("https://i.ytimg.com/vi/aNkKZuKbVKc/maxresdefault.jpg")no-repeat center center;
  background: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Cruise_Automation_logo.svg/1200px-Cruise_Automation_logo.svg.png") no-repeat center center; 
    background-size:100%;
>>>>>>> 524702abc56bbcb734615cdfb2b2ad790c3330fb
    padding-top: 20rem;
    padding-bottom: 8rem;
    background-color: #ffffff;
    height:"200px";
    overflow: hidden;
   } */
#introCarousel{
  margin: auto;
  height: 20rem;
  width: 35rem;
}

#firstRow{
  margin-top: 5px;
  justify-content: center;
}