<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="width: 30rem;">
      <div class="card-body" id="login_card">
        <div class="row justify-content-center">
          <div class="form-group mr-3">
            <label for="username_input">Username:</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="username_input" name="username_input" 
             #usernamebox (change) = "validUsername(usernamebox.value)" placeholder="username"/>
          </div>
        </div>
        <div class="row justify-content-center">
          <div  id="user_message">{{uErrorMessage}}</div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group mr-3">
            <label for="password_input">Password:</label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password_input" name="password_input" 
            #passwordbox (change) = "validPassword(passwordbox.value)" placeholder="password"/>
          </div>
        </div>
        <div class="row justify-content-center">
          <div  id="password_message">{{pErrorMessage}}</div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-4">
            <label for="remember_me_input" class="form-check-label">Remember me:</label>
          </div>
          <div>
            <input type="checkbox" class="form-check-input" id="remember_me_input" name="remember_me_input" />
          </div>
          <div class="form-group col-4">
            <input type="button" class="btn btn-primary" id="login_btn" name="login_btn" value="Login"
            (click)="submit(usernamebox.value, passwordbox.value)"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>