p{
    font-size: 8pt;
  }
  
  #profileHeader{
    margin-bottom: 0px;
  }
  
  #disclaimer{
    margin-top: 0px;
  }
  
  #dOne{
    position: relative;
    top: 0px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%
  }
  
  table, th, td {
      border: 1px solid black;
  }
  
  img{
    margin-left: 50%;
  }