.card{
  width: 35rem;
  margin: auto;
  margin-top: 5px;
}

.card-header{
  background: rgb(53, 150, 206);
  color: white;
}

#user-pic{
  margin: auto;
  text-align: center;
  width: 200px;
  height: 200px;
}

#history-div{
  padding: 10px;
  border-style: solid;
  margin: 10px;
}