<div class="container" id="dOne">
  <h1 align="center" id="profileHeader">My Cruise Profile</h1>
  <p align="center" id="disclaimer">
    <strong>Disclaimer: </strong>
    ALL personal information is not disclosed. Your information is safetly stored within our databses.</p>
  <hr>
  <img src="Pic from Database here!" alt="user_pic" width="500" height="333" align="center">
  <h2 align="center">First and Last Name Here</h2>

  <table align="center">
    <tr>
      <td>Implement Data table here</td>
      <td>Implement Data table here</td>
    </tr>

    <tr>
      <td>Username: </td>
      <td>Username_here</td>
    </tr>

    <tr>
      <td>Email: </td>
      <td>User_email_here</td>
    </tr>

    <tr>
      <td>Home Address: </td>
      <td>Home_addr_here</td>
    </tr>
  </table>

  <h1 align="center">See below for your past ride history:</h1>
  <p align="center">**implement data table here for ride history**</p>
</div>

<div>
  <table datatable class="row-border hover">
    
    <thead>
      <tr>
        <th>Ride ID</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Test</td>
        <td>Test
        <td>test</td>
      </tr>
    
    </tbody>
  </table>

</div>