<div class="container">
  <div class="row">
    <div class="col">

      <div class="container login-container">
        <div class="row">
          <div class="col-md-6 login-form-2">

            <h3>Hail our Driverless Fleet!</h3>
            <div class="form-group">
              <input type="text" name="pickup" class="form-control" id="pickup" placeholder="Your Pickup Location *"
                value="" />
            </div>
            <div class="form-group">
              <input type="password" name="dropff" id="dropff" class="form-control"
                placeholder="Your Drop Off Location *" value="" />
            </div>
            <div class="form-group">
              <select name="rideType" id="rideType">
                <option value="">Ride Method</option>
                <option value="Solo">Solo</option>
                <option value="Shareable">Shareable</option>
              </select>
            </div>
            <div class="form-group">
              <!-- <input type="button" class="btnSubmit" name="login" id="login" value="Login" />-->
              <button class="btnSubmit" id="login">Hail a Car!</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6156606455493!2d-73.99223338454202!3d40.74848184331961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9da68b0c5%3A0x277f7da48757851e!2sCUNY+School+of+Professional+Studies!5e0!3m2!1sen!2sus!4v1554724600928!5m2!1sen!2sus"
        width="600" height="450" frameborder="0" style="padding-top:20%" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  </div>