<div class = "container" id = "one">
  <h1 align = "center">Welcome to the Cruise sign up page!</h1> 
</div>

<div class = "container" id = "two">
  <p align = "center">By signing up with Cruise- we will save your <strong>First/Last</strong> names, <strong>Username</strong>, <strong>Password</strong>, and <strong>Email</strong>.<p>
</div>

<id = "three" class = "container" align = "center">
  <h1 align = "center">Please fill out the information below</h1>
    <table align = "center">
  <tr>
    <th colspan="2">Personal Information</th>
  </tr>
      
  <tr>
    <td>First Name</td>
    <td><input type= "text" placeholder = "first name here" required/></td>
  </tr>
      
  <tr>
    <td>Last Name</td>
    <td><input type= "text" placeholder = "last name here" required/></td>
  </tr>
      
  <tr>
    <td>Username</td>
    <td><input type= "text" placeholder = "Desired username" required/></td>
  </tr>
      
<tr>
    <td>Password</td>
    <td><input type= "password" placeholder = "Desired password" required/></td>
  </tr>

 <tr>
    <td>Email</td>
    <td><input type= "text" placeholder = "Primary email address" required/></td>
  </tr>
 
  <tr>
    <td>Phone Number</td>
    <td><input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder = "XXX-XXX-XXXX" required></td>
  </tr>
      
<tr>
    <td>Date of Birth</td>
    <td><input type="date" name="birthday" placeholder="Date of Birth" required></td>
  </tr>    
  
  <tr>
    <td>Address Line 1: </td>
    <td><input type="text" name="addressLine1" placeholder= "Address Line 1" required></td>
  </tr>
  
  <tr>
    <td>Address Line 2: </td>
    <td><input type="text" name="addressLine2" placeholder="Address Line 2" required></td>
  </tr>

  <td>
    <td><select>
      <option value="residenceType">Type of Residence:</option>
      <option value="type1">Home</option>
      <option value="type2">Work</option>
      <option value="other">Other</option>
    </select></td>
  </tr>

    

  <tr>
    <td>City: </td>
    <td><input type="text" name="city" placeholder="City" required></td>
  </tr>

  <tr>
    <td>Zipcode: </td>
    <td><input type="number" name="zipcode"placeholder="Postal/Zipcode"></td>
  </tr>

</table>
</div>

<div>
  <p>Please read through your information and make sure it is correct.</p>
  <p>When you have verified your personal/contact information is accurate, click sumbit to join Cruise!</p>
  <button>Register!</button>
</div>

