<!-- <div class="container" id="sign-disclaimer">
  <p>By signing up with Cruise- we will save your <strong>First/Last</strong> names,
    <strong>Username</strong>, <strong>Password</strong>, and <strong>Email</strong>.<p>
</div> -->

<div class="card" id="sign-card">
  <div class="card-header">
    <h5 class="card-title">Sign-up</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-6">
        <label for="first-name">First Name</label>
        <input class="form-control" type="text" [(ngModel)]="firstName" (change)="saveSignUp()" name="first-name" />
      </div>

      <div class="form-group col-6">
        <label for="last-name">Last Name</label>
        <input class="form-control" type="text" [(ngModel)]="lastName" (change)="saveSignUp()" name="last-name" />
      </div>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input class="form-control" type="text" [(ngModel)]="newUserName" (change)="saveSignUp()" />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" [(ngModel)]="password" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input id="email" name="test" class="form-control" required email [(ngModel)]="email"
        #userEmail="ngModel" (change)="saveSignUp()" />
    </div>
    <!--Error message for not having a valid email address-->
    <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="alert alert-danger">

      <div *ngIf="userEmail.errors.required">
        Please enter your email!
      </div>
      <div *ngIf="userEmail.errors.email">
        Not a valid Email!
      </div>
    </div>
    <div class="row">

      <div class="form-group col-6">
        <label>Phone Number</label>
        <input id="email" name="test" class="form-control" required pattern="^[2-9]\d{2}-\d{3}-\d{4}$"
          [(ngModel)]="phoneNumber" #phone="ngModel" (change)="saveSignUp()" maxlength="12">
      </div>


      <div class="form-group col-6">
        <label>Date of Birth</label>
        <input class="form-control" type="date" [(ngModel)]="dob" name="birthday" (change)="saveSignUp()">
      </div>
    </div>
    <!--Error Message for not having a proper phone number-->
    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">

      <div *ngIf="phone.errors.required">
        Please enter your phone number
      </div>
      <div *ngIf="phone.errors.pattern">
        Phone number must be in this form: XXX-XXX-XXXX.
      </div>
    </div>
    <div class="form-group">
      <label>Address Line 1: </label>
      <input class="form-control" type="text" [(ngModel)]="addressLine1" (change)="saveSignUp()">
      <label>Address Line 2:</label>
      <input class="form-control" type="text" [(ngModel)]="addressLine2" (change)="saveSignUp()">


      <label>Address Type:</label>
      <select class="form-control" [(ngModel)]="addressType" (change)="saveSignUp()">
        <option value="type1">Home</option>
        <option value="type2">Work</option>
        <option value="other">Other</option>
      </select>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label>City: </label>
        <input class="form-control" type="text" [(ngModel)]="city" (change)="saveSignUp()">
      </div>
      <div class="form-group col-6">
        <label>State: </label>
        <input class="form-control" type="text" [(ngModel)]="state" (change)="saveSignUp()">
      </div>
      

    </div>

    <div class="row">
      <div class="form-group col-4">
        <label>Zipcode: </label>
        <input class="form-control" type="number" [(ngModel)]="zipcode" (change)="saveSignUp()">
      </div>
      </div>

    <div class="row form-group">
      <label>Profile Picture:</label>

      <!-- original input field 
        <input class="form-control" type="file" [(ngModel)]="picture" name="pic" accept="image/*">
      -->
    </div>
    <div class="row formm-group">
      <!-- input using to upload to s3 bucket-->
      <input type="file" (change)="fileEvent($event)" name="imageUpload" id="imageUpload" [(ngModel)] = "testpic"
      accept = ".png, .jpg, .webp, .bmp"/>
      <!--<p>Testing variable: {{testpic}}</p>-->
    </div>
    <br>
    <ul class="list-group list-group-flush justify-content-center">
      <li class="list-group-item">
        <button class="btn btn-primary" [disabled]="userEmail.invalid || phone.invalid"
          (click)="addRider()">Register!</button>
      </li>
    </ul>
  </div>
</div>