<div class="container" id="one">
  <h1 align="center">Welcome to the Cruise sign up page!</h1>
</div>

<div class="container" id="two">
  <p align="center">By signing up with Cruise- we will save your <strong>First/Last</strong> names,
    <strong>Username</strong>, <strong>Password</strong>, and <strong>Email</strong>.<p>
</div>

<div id = "three" class = "container" align = "center">
  <h1 align = "center">Please fill out the information below</h1>
    <table align = "center">
  <tr>
    <th colspan="2">Personal Information</th>
  </tr>
      
  <tr>
    <td>First Name</td>
    <td><input type= "text" [(ngModel)]="firstName" placeholder = "First Name here" 
      (change)="saveSignUp()"/>
    </td>
  </tr>
      
  <tr>
    <td>Last Name</td>
    <td><input type= "text" [(ngModel)]="lastName" placeholder = "Last Name here"
      (change)="saveSignUp()"/>
    </td>
  </tr>
      
  <tr>
    <td>Username</td>
    <td><input type= "text" [(ngModel)]="newUserName" placeholder = "Desired username"
      (change)="saveSignUp()"/>
    </td>
  </tr>
      
<tr>
    <td>Password</td>
    <td><input type= "password" [(ngModel)]="password" placeholder = "Desired password"/>
    </td>
  </tr>

 <tr>
    <td>Email</td>
    <td>
      <input id="email" name="test" class="form-control"
      required email appForbiddenName="bob"
      [(ngModel)]="email" #lol="ngModel" (change)="saveSignUp()"placeholder = "Primary email address">
    </td>
  </tr>
 
  <tr>
    <td>Phone Number</td>
    <td>
      <input id="email" name="test" class="form-control"
      required pattern="^[2-9]\d{2}-\d{3}-\d{4}$"
      [(ngModel)]="phoneNumber" #phone="ngModel"(change)="saveSignUp()" maxlength="12" >
    </td>
  </tr>
      
<tr>
    <td>Date of Birth</td>
    <td><input type="date" [(ngModel)]="dob" name="birthday" placeholder="Date of Birth"
      (change)="saveSignUp()">
    </td>
  </tr>    
  
  <tr>
    <td>Address Line 1: </td>
    <td><input type="text" [(ngModel)]="addressLine1" placeholder= "Address Line 1"
      (change)="saveSignUp()">
    </td>
  </tr>
  
  <tr>
    <td>Address Line 2: </td>
    <td><input type="text" [(ngModel)]="addressLine2" placeholder="Address Line 2"
      (change)="saveSignUp()">
    </td>
  </tr>

  <tr>
    <td><select [(ngModel)]="addressType" (change) = "saveSignUp()">
      <option value="residenceType">Type of Residence:</option>
      <option value="type1">Home</option>
      <option value="type2">Work</option>
      <option value="other">Other</option>
    </select></td>    
  </tr>

  <tr>
    <td>City: </td>
    <td><input type="text" [(ngModel)]="city" placeholder="City" 
      (change)="saveSignUp()">
    </td>
  </tr>

  <tr>
    <td>Zipcode: </td>
    <td><input type="number" [(ngModel)]="zipcode" placeholder="Postal/Zipcode"
      (change) = "saveSignUp()"></td>
  </tr>

  <tr>
      <td>Profile Picture: </td>
      <td><input type="file" [(ngModel)]="picture" name="pic" accept="image/*"></td>
  </tr>

</table>

<div>
  <p>Please read through your information and make sure it is correct.</p>
  <p>When you have verified your personal/contact information is accurate, click sumbit to join Cruise!</p>
  <button (click) = "addRider()">Register!</button>
</div>
<!--Error message for not having a valid email address-->
<div *ngIf="lol.invalid && (lol.dirty || lol.touched)"
    class="alert alert-danger">

  <div *ngIf="lol.errors.required">
    Please enter your email!
  </div>
  <div *ngIf="lol.errors.email">
    Not a valid Email!
</div>
</div>
<!--Error Message for not having a proper phone number-->
<div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
    class="alert alert-danger">

  <div *ngIf="phone.errors.required">
    Please enter your phone number
  </div>
  <div *ngIf="phone.errors.pattern">
    Phone number must be in this form: XXX-XXX-XXXX.
</div>
</div>
