/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 430px;
  }
  .container{
      justify-content: center;
  }
  .jumbotron {
    background: rgb(53, 150, 206);
    color: #FFF;
    border-radius: 0px;
    text-align: center;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }

  .demo{
      padding: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    width: 150%;
  }
  .tbl{
    margin-top: 5%;
    margin-left: 60%;
    width: 70%;
    align-content: center;
  }
  
  .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    width: 150%;
  }
  .login-logo{
    position: relative;
    margin-left: -41.5%;
    
  }
  .login-logo img{
    position: absolute;
    width: 40%;
    margin-top: 40%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
  }
  .login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
  }
  .login-form-2{
    padding: 9%;
    background: #16857D;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
  }
  .btnSubmit{
    font-weight: 600;
    width: 70%;
    color: #282726;
    background-color: #ffffff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
  }
  .btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
  .btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
  }