/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 430px;
  }
  
  .container{
      justify-content: center;
  }
  #user-pic{
    margin: auto;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
  }

  #car-picture-id{
    max-height: 200px;
  }